In [1]:
print('hello world')

hello world

In [2]:
print("hello world baby")

hello world baby

In [4]:
print("hello world's famous book")

hello world's famous book

In [5]:
print('''hello bro''')

hello bro

In [7]:
print("123")

123

In [8]:
print('123')

123

In [2]:
Print("hello bhai''"")

SyntaxError: EOL while scanning string literal (1216616388.py, line 1)

# DATA TYPES AND VARIABLES

# Variables

In [7]:
c=5
print

5

# Data types

In [8]:
#Integer
#float
#boolean
#string
#complex

In [11]:
#Integer
a=5
print(a)
type(a)

5

int

In [12]:
#float
x=-11.4
print(x)
type(x)

-11.4

float

In [13]:
# Print functionis depend on your choice . you can refer only type to know about data types.

In [15]:
# STRING
x='bahubali @ 123 gmail.com'  #anything writeen in single caoutes like sequence of characters,numbers,special character represent
print(x)                      #string
type(x)

bahubali @ 123 gmail.com

str

# Boolen data types:A boolen data types may be true or false that is already                                           defined in python.

In [16]:
a='sonu tiwari'
print(a)

sonu tiwari

In [17]:
a=sonu tiwari   #error occur because of not using single caoutes.
print(a)

SyntaxError: invalid syntax (1141920070.py, line 1)

In [24]:
a='true'
print(a)
type(a)

true

str

In [36]:
a=True    # the first letter of true is capital as well as in case of false
print(a)   # python is case sensitive.
type(a)

True

bool

# Complex data types:a+ib
# a is real part ,b is imaginary part.
# In python we use j with imajinary part,so form like a+jb.

In [38]:
x=2+i6
print(x)

NameError: name 'i6' is not defined

In [39]:
x=2+j6
print(x)

NameError: name 'j6' is not defined

In [40]:
x=2+6j
print(x)

(2+6j)

In [41]:
type(x)

complex

# Some difference:

In [45]:
print('123')
type('123')

123

str

In [46]:
a=123
b='123'
print(a,b)

123 123

In [48]:
type(a)

int

In [49]:
type(b)

str

# PROGRAMS:-

In [51]:
#  Swaap to add to add two numbers.
#  Swap to swap two numbers(change two numbers).
#     Condition1:use third variable 
#          Condition2:without using third variable.

In [54]:
    a=9 #using third variable.
    b=1
    c=a+b
    print(c)

10

In [56]:
a=10  # swaping two number using third variable
b=2
print('before swaping',a,b)
c=a
a=b
b=c
print('after sapping',a,b)

before swaping 10 2
after sapping 2 10

In [57]:
a=9  # swpping two number without using third variable
b=4
a,b=b,a
print(a,b)

4 9

In [58]:
a=8
b=-4
print(a+b)

4

# PYHON WORK ON DYNAMIC MEMORY LOCATION(UPDATED OUTPUT)

In [60]:
x=78   #  python work on updated output.
x=88  
print(x)

88

In [61]:
u=3
v=5
print(u*v)

15

In [62]:
u=5
v=8
m=u*v
print(m)

40

In [63]:
u=2
v=4
m=u*v
m=u-v
print(m)
x=u
u=v
v=x
m=(u*v)
print(m)

-2
8

# Program for division : 
# // double division sign used to obtained quoitent.
#  % sign used for obtaining reminder.

In [1]:
x=6
y=3
c=x//y
print(c)

2

In [3]:
a=3
b=2
c=a/b
c=a//b  # python takes updated value
print(c)

1

In [4]:
x=40
y=8
c=x/y  # single modulus gives us float type 
print(c)

5.0

# Python takes absolute value .
# variable takes different.
# Python does not perform many operation with one variable.

In [1]:
a=8   # To represent reminder.
b=5
c=a%b
print(c)

3

In [2]:
a=45
b=45
c=a%b
print(c)

0